*{
    box-sizing: border-box;
}
body
 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    background-color: red;
    display: -webkit-inline-box;
    max-width: 100vw;
    
    
}
@media screen and (min-width: 1900px){
    html{
      font-size: 130%;
    }
  }
  @media screen and (max-width: 600px){
    html{
      font-size: 70%;
    }
  }

#main {
    margin: 0px 0px;
    padding:0px;
    border-radius: 0px;
    background: red;
}
#title-head{
    width: auto; 
    height: auto;
    background-color: white;
    padding: 0px;
    border-radius: 0%; 
}
h1{
    color: black;
}

h2{
    color: black;
}

li{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

figcaption{
    color: black;
}

#title-head p{
    font-style: italic;
    font-weight: 900;
    color: black;
    position: relative;
    bottom: 5px;
}


#image{
   position: relative;
   max-width: 100%;
   height: auto;
}

.timeline{
    display: flex;
}

.imageGroup{
    display: flex;
    min-width: 45vw;
    flex-direction: column;
}

.row1{
    flex-wrap: nowrap;
    padding-bottom: 5%;
}

/* .row1 img{
   position: relative;
   max-width: 100%;
   height: auto;
} */

.jordanImg{
    width: 45%;
    height: 100%;
    object-fit: cover;
}






#img-caption{
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
}

.info{
    min-width: 50vw;
}

